<div class="aboutStyle container-fluid">

    <div>
        <label for="toggle"> 1. What is Bitcoin Office Limited?</label>
        <div id="expand">
            <section>
                <p>Bitcoin Office Limited is involved in the development of advanced software for Bitcoin cloud mining, network technologies based on modern computer equipment and extensive knowledge in this area and profitable cryptocurrency trading/exchange.</p>
            </section>
        </div>
    </div>
    <p>

        2. How do you generate profit? 3. Are you registered and legal? 4. Where is your office located? 5. Are there some risks for investors? 6. Can I lose my money? 7. How to become an investor of Bitcoin Office Limited? 8. How many accounts can I register
        and use? 9. Can I register more accounts from my computer with same IP address? 10. I cannot log into account. Why? 11. Can I change my email or my username? 12. What is your investment offer? 13. What is the minimum deposit? 14. Where can I register
        Bitcoin wallet and buy bitcoins? 15. Tell me what the process of deposit making is. 16. How long does it take to add deposit? 17. I sent Bitcoins but my active deposit empty even after 6 confirmations? 18. How can I withdraw and what is the minimum?
        19. Are you paying on weekends? 20. Do you offer instant payments? 21. Can I get my principal deposit back? 22. Does your company offer affiliate program? 23. What about representatives? 24. How to become representative? 25. How to order debit
        card of Bitcoin Office Limited?
    </p>
</div>