<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']"><b>BIT-LOTTE</b></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="fa fa-home" aria-hidden="true" [routerLink]="['/home']"> HOME</a></li>
                <li><a class="fa fa-question" aria-hidden="true" [routerLink]="['/faq']"> FAQ</a></li>
                <li><a class="fa fa-users" aria-hidden="true" [routerLink]="['/home']"> PARTNERSHIP</a></li>
                <li><a class="fa fa-envelope" aria-hidden="true" [routerLink]="['/home']"> SUPPORT</a></li>
                <li><a class="fa fa-info" aria-hidden="true" [routerLink]="['/about']"> ABOUT US</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://twitter.com/damien_bod"><img src="assets/damienbod.jpg" height="30" /></a>
                </li>
                <li>
                    <a href="https://twitter.com/FabianGosebrink"><img src="assets/fabianGosebrink.jpg" height="30" /></a>
                </li>
                <li>
                    <a href="https://twitter.com/robisim74"><img src="assets/RobertoSimonetti.jpg" height="30" /></a>
                </li>
            </ul>
        </div>
    </div>
</nav>