<div class="aboutStyle container-fluid">

    <h1>{{message}}</h1>
    <p>
        Bit-Lotte Limited aims to popularize the use of cryptocurrency as international payment instruments. We believe that the functionality of anonymous digital money still not fully disclosed, and we set a goal to not only effectively promote Bitcoin,
        but also find and share the ways of its mining. Modern cloud technologies are the best solution. To become part of a larger system you only have to use your graphics card in computer network or to lease part of the bitcoin mining hardware of our
        company. However, we offer a third option that is sure to be the most interesting - cloud mining investment. Bitcoin Office Limited has already established itself on the positive side in professional circles, and now refers to a number of companies
        with high trust degree. The search for new cryptocurrency forks and introduction of new mining methods directly depend on close cooperation between professional programmers, hardware developers and financial managers (traders). Our company invites
        you to become part of this process by investing in Bitcoin mining. Experienced technicians will make every effort for the effective allocation and management of your assets and provide the rapid growth of your earnings. Bitcoin Office Limited
        focused on the maximization of profit but sees only safe activities that do not jeopardize your money. We follow cryptocurrency trends and use all opportunities for the guaranteed income. Today we are ready to share our experience and knowledge,
        to use the raised funds to find new methods and build an international network of ASIC hardware. When becoming a part of our company you will get from 11% to 15% profit every calendar day regardless of the circumstances or the market situation
        - we are ready to compensate for any lack of profit from our own pocket, so that you were completely satisfied. BitOffice Limited has passed the registration procedure as well as a complete check of financial activity to obtain the necessary work
        permit in the international investment market. You can be acquainted with the registration documents on our website or when visiting Companies House: https://beta.companieshouse.gov.uk/company/10374586.
    </p>
</div>